{% extends 'base.html.twig' %}

{% block title %}Clientesnew index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h5 class="card-header bg-secondary text-light" ><i class="fa fa-list"></i>Clientesnew index </h5>
<hr/>
{{ include('clientesnew/_formFilter.html.twig') }}
<hr/>
    <a class="btn btn-outline-dark" href="{{ path('app_clientesnew_new') }}"><i class="fa fa-plus"></i> </a>
<hr/>
<div class="navigation">
    {{ knp_pagination_render(clientesnews) }}
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Apellidos</th>
                <th>Nombres</th>
{#                <th>Idpais</th>#}
{#                <th>Idprovincia</th>#}
{#                <th>Idlocalidad</th>#}
                <th>Direccion</th>
                <th>Altura</th>
                <th>Codigopostal</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Nacionalidad</th>
                <th>Fechanacimiento</th>
                <th>Tipoiva</th>
                <th>Nrodoc</th>
                <th>Tipodoc</th>
{#                <th>Habilitado</th>#}
{#                <th>Activo</th>#}
{#                <th>Idsucursalalta</th>#}
{#                <th>Idsucursalmodificacion</th>#}
{#                <th>Usuarioalta</th>#}
{#                <th>Fechaalta</th>#}
{#                <th>Fechabaja</th>#}
{#                <th>Usuarioultimamodificacion</th>#}
{#                <th>Fechaultimamodificacion</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clientesnew in clientesnews %}
            <tr>
                <td>{{ clientesnew.id }}</td>
                <td>{{ clientesnew.apellidos }}</td>
                <td>{{ clientesnew.nombres }}</td>
{#                <td>{{ clientesnew.idpais }}</td>#}
{#                <td>{{ clientesnew.idprovincia }}</td>#}
{#                <td>{{ clientesnew.idlocalidad }}</td>#}
                <td>{{ clientesnew.direccion }}</td>
                <td>{{ clientesnew.altura }}</td>
                <td>{{ clientesnew.codigopostal }}</td>
                <td>{{ clientesnew.sexo }}</td>
                <td>{{ clientesnew.telefono }}</td>
                <td>{{ clientesnew.celular }}</td>
                <td>{{ clientesnew.email }}</td>
                <td>{{ clientesnew.nacionalidad }}</td>
                <td>{{ clientesnew.fechanacimiento ? clientesnew.fechanacimiento|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ clientesnew.tipoiva }}</td>
                <td>{{ clientesnew.nrodoc }}</td>
                <td>{{ clientesnew.tipodoc }}</td>
{#                <td>{{ clientesnew.habilitado ? 'Yes' : 'No' }}</td>#}
{#                <td>{{ clientesnew.activo ? 'Yes' : 'No' }}</td>#}
{#                <td>{{ clientesnew.idsucursalalta }}</td>#}
{#                <td>{{ clientesnew.idsucursalmodificacion }}</td>#}
{#                <td>{{ clientesnew.usuarioalta }}</td>#}
{#                <td>{{ clientesnew.fechaalta ? clientesnew.fechaalta|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ clientesnew.fechabaja ? clientesnew.fechabaja|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ clientesnew.usuarioultimamodificacion }}</td>#}
{#                <td>{{ clientesnew.fechaultimamodificacion ? clientesnew.fechaultimamodificacion|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    <ul>
                        <li style="display: inline-flex" >
                            <button type="button" class="btn btn-outline-dark btn-show"
                                    data-toggle="modal" data-target="#showDetail"
                                    data-source="{{ path('app_clientesnew_show', {'id': clientesnew.id}) }}">
                                <i class="fa fa-eye"></i>
                            </button>
                        </li>
                        <li style="display: inline-flex" >
                            <a class="btn btn-outline-dark" href="{{ path('app_clientesnew_edit', {'id': clientesnew.id}) }}">
                                <i class="fa fa-edit"></i> </a>
                        </li>
                        <li style="display: inline-flex" >

                            <a class="btn btn-outline-dark" href="{{ path('app_client_convert_from_clientesnew', {'id': clientesnew.id}) }}">
                                <i class="fa fa-cogs"></i> </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="28">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <hr/>
    <div class="navigation">
        {{ knp_pagination_render(clientesnews) }}
    </div>
    <div class="modal" id="showDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
