{% extends 'base.html.twig' %}

{% block title %}New QrCode{% endblock %}

{% block body %}

<h5 class="card-header bg-secondary text-light" ><i class="fa fa-plus"></i>
    Nuevo Qr Code </h5>
<hr/>
    {{ include('qr/_form.html.twig') }}
<hr/>

    {% if image %}
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" style="margin: auto; ">
                    <strong>QR CODE</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="thumbnail" style="margin-right: auto; margin-left: auto; ">
                        <img class="img-responsive " src="data:image/png;base64,
                                        {{ image }}" width="200" height="200"
                                            alt="No hay imagen disponible"/>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
{#                <div class="col-6 text-right m-0">#}
{#                    <button id="btnImprimirDiv" class="btn btn-outline-dark">  <i class="fa fa-print"></i> Imprimir</button>#}
{#                </div>#}
                <div class="col-12 text-center m-0">
                    <form action="{{ path('app_client_getImageQr') }}" method="post">
                        <input type="hidden" name="urlQr" id="urlQr" value="{{ url }}">
                        <button class="btn btn-outline-dark">
                            <i class="fa fa-download"></i>Donwload
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            document.querySelector("#btnImprimirDiv").addEventListener("click", function () {

                const div = document.querySelector("#qr-image");

                imprimirElemento(div);
            });

            function imprimirElemento(elemento) {

                const ventana = window.open('', 'PRINT', 'height=400,width=600');
                ventana.document.write('<html><head><title>' + document.title + '</title>');
                ventana.document.write('</head><body >');
                ventana.document.write(elemento.innerHTML);
                ventana.document.write('</body></html>');
                ventana.document.close();
                ventana.focus();
                ventana.onload = function () {
                    ventana.print();
                    ventana.close();
                };
                return true;
            }
        </script>


    {% endif %}

<ul>
    <li style="display: inline-flex">
{#        <a href="{{ path('app_client_index') }}" class="btn btn-outline-info btn-back" data-toggle="tooltip" data-placement="top"#}
{#           title="Volver"#}
{#        ><i class="fa fa-arrow-left"></i></a>#}
    </li>
</ul>

{% endblock %}
