{% extends 'base.html.twig' %}

{% block title %}Vtmclh index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h5 class="card-header bg-secondary text-light" ><i class="fa fa-list"></i>Vtmclh index </h5>
<hr/>
{{ include('vtmclh/_formFilter.html.twig') }}
<hr/>
    <a class="btn btn-outline-dark" href="{{ path('app_vtmclh_new') }}"><i class="fa fa-plus"></i> </a>
<hr/>
<div class="navigation">
    {{ knp_pagination_render(vtmclhs) }}
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>VtmclhNrocta</th>
{#                <th>VtmclhRubr01</th>#}
{#                <th>VtmclhRubr03</th>#}
{#                <th>VtmclhRubr04</th>#}
{#                <th>VtmclhRubr05</th>#}
{#                <th>VtmclhRubr06</th>#}
{#                <th>VtmclhRubr07</th>#}
{#                <th>VtmclhRubr08</th>#}
{#                <th>VtmclhRubr09</th>#}
{#                <th>VtmclhRubr10</th>#}
{#                <th>VtmclhRubr02</th>#}
                <th>VtmclhNombre</th>
{#                <th>VtmclhNrosub</th>#}
                <th>VtmclhRespon</th>
                <th>VtmclhDirecc</th>
                <th>VtmclhNumero</th>
                <th>VtmclhDppiso</th>
                <th>VtmclhDeptos</th>
{#                <th>VtmclhCodfil</th>#}
                <th>VtmclhCodpai</th>
                <th>VtmclhCodpos</th>
{#                <th>VtmclhMunicp</th>#}
{#                <th>VtmclhFletes</th>#}
                <th>VtmclhTelefn</th>
                <th>VtmclhNrofax</th>
{#                <th>VtmclhNtelex</th>#}
                <th>VtmclhCndiva</th>
                <th>VtmclhTipdoc</th>
                <th>VtmclhNrodoc</th>
{#                <th>VtmclhVnddor</th>#}
{#                <th>VtmclhCobrad</th>#}
{#                <th>VtmclhJurisd</th>#}
{#                <th>VtmclhCodzon</th>#}
{#                <th>VtmclhActivd</th>#}
{#                <th>VtmclhCatego</th>#}
                <th>VtmclhCndpag</th>
                <th>VtmclhCndpre</th>
                <th>VtmclhCodcrd</th>
                <th>VtmclhGrubon</th>
                <th>VtmclhCamion</th>
                <th>VtmclhCamalt</th>
                <th>VtmclhTracod</th>
                <th>VtmclhDirep1</th>
                <th>VtmclhDirep2</th>
                <th>VtmclhDirep3</th>
                <th>VtmclhDirep4</th>
                <th>VtmclhDirep5</th>
                <th>VtmclhHorrec</th>
                <th>VtmclhDirent</th>
                <th>VtmclhPaient</th>
                <th>VtmclhCodent</th>
                <th>VtmclhJurent</th>
                <th>VtmclhZonent</th>
                <th>VtmclhCopivt</th>
                <th>VtmclhCopifc</th>
                <th>VtmclhCopist</th>
                <th>VtmclhTextos</th>
                <th>VtmclhTipdo1</th>
                <th>VtmclhNrodo1</th>
                <th>VtmclhTipdo2</th>
                <th>VtmclhNrodo2</th>
                <th>VtmclhTipdo3</th>
                <th>VtmclhNrodo3</th>
                <th>VtmclhTipdo4</th>
                <th>VtmclhNrodo4</th>
                <th>VtmclhTipdo5</th>
                <th>VtmclhNrodo5</th>
                <th>VtmclhDireml</th>
                <th>VtmclhSegpro</th>
                <th>VtmclhContad</th>
                <th>VtmclhEdisub</th>
                <th>VtmclhCuenta</th>
                <th>VtmclhMaxitm</th>
                <th>VtmclhDifdia</th>
{#                <th>VtmclhDifdes</th>#}
{#                <th>VtmclhDifhas</th>#}
                <th>VtmclhPerina</th>
                <th>VtmclhImpdif</th>
                <th>VtmclhEmail</th>
                <th>VtmclhCndint</th>
                <th>VtmclhDistri</th>
                <th>VtmclhDeposi</th>
                <th>VtmclhSector</th>
                <th>VtmclhNrodis</th>
                <th>VtmclhOleole</th>
                <th>VtmclhBmpbmp</th>
                <th>VtmclhInhibe</th>
                <th>VtmclhPrmxpr</th>
                <th>VtmclhPrmipr</th>
                <th>VtmclhTrafcr</th>
                <th>VtmclhCodcof</th>
                <th>VtmclhModcpt</th>
                <th>VtmclhTipcpt</th>
                <th>VtmclhCodcpt</th>
                <th>VtmclhLiscli</th>
                <th>VtmclhTipopr</th>
                <th>VtmclhCodopr</th>
                <th>VtmclhModpag</th>
                <th>VtmclhTippag</th>
                <th>VtmclhMedpag</th>
                <th>VtmclhLanexp</th>
                <th>VtmclhGenxml</th>
                <th>VtmclhGlndes</th>
                <th>VtmclhCodexp</th>
                <th>VtmclhOblcon</th>
                <th>VtmclhDeptra</th>
                <th>VtmclhSectra</th>
                <th>VtmclhFisjur</th>
                <th>VtmclhApell1</th>
                <th>VtmclhApell2</th>
                <th>VtmclhNomb01</th>
                <th>VtmclhNomb02</th>
                <th>UsrVtmclhLocpro</th>
                <th>UsrVtmclhCodare</th>
                <th>UsrVtmclhTienda</th>
{#                <th>UsrVtmclhDepo</th>#}
{#                <th>UsrVtmclhGrptan</th>#}
{#                <th>UsrVtmclhRefcli</th>#}
{#                <th>UsrVtmclhCodemp</th>#}
{#                <th>UsrVtmclhRefloc</th>#}
{#                <th>UsrVtmclhEstcom</th>#}
{#                <th>VtmclhFecalt</th>#}
{#                <th>VtmclhFecmod</th>#}
{#                <th>VtmclhUserid</th>#}
{#                <th>VtmclhUltopr</th>#}
{#                <th>VtmclhDebaja</th>#}
{#                <th>VtmclhHormov</th>#}
{#                <th>VtmclhModule</th>#}
{#                <th>VtmclhOalias</th>#}
{#                <th>VtmclhTstamp</th>#}
{#                <th>VtmclhLottra</th>#}
{#                <th>VtmclhLotrec</th>#}
{#                <th>VtmclhLotori</th>#}
{#                <th>VtmclhSysver</th>#}
{#                <th>VtmclhCmpver</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vtmclh in vtmclhs %}
            <tr>
                <td>{{ vtmclh.vtmclhNrocta }}</td>
{#                <td>{{ vtmclh.vtmclhRubr01 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr03 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr04 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr05 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr06 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr07 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr08 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr09 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr10 }}</td>#}
{#                <td>{{ vtmclh.vtmclhRubr02 }}</td>#}
                <td>{{ vtmclh.vtmclhNombre }}</td>
{#                <td>{{ vtmclh.vtmclhNrosub }}</td>#}
                <td>{{ vtmclh.vtmclhRespon }}</td>
                <td>{{ vtmclh.vtmclhDirecc }}</td>
                <td>{{ vtmclh.vtmclhNumero }}</td>
                <td>{{ vtmclh.vtmclhDppiso }}</td>
                <td>{{ vtmclh.vtmclhDeptos }}</td>
{#                <td>{{ vtmclh.vtmclhCodfil }}</td>#}
                <td>{{ vtmclh.vtmclhCodpai }}</td>
                <td>{{ vtmclh.vtmclhCodpos }}</td>
{#                <td>{{ vtmclh.vtmclhMunicp }}</td>#}
{#                <td>{{ vtmclh.vtmclhFletes }}</td>#}
                <td>{{ vtmclh.vtmclhTelefn }}</td>
                <td>{{ vtmclh.vtmclhNrofax }}</td>
{#                <td>{{ vtmclh.vtmclhNtelex }}</td>#}
                <td>{{ vtmclh.vtmclhCndiva }}</td>
                <td>{{ vtmclh.vtmclhTipdoc }}</td>
                <td>{{ vtmclh.vtmclhNrodoc }}</td>
{#                <td>{{ vtmclh.vtmclhVnddor }}</td>#}
{#                <td>{{ vtmclh.vtmclhCobrad }}</td>#}
{#                <td>{{ vtmclh.vtmclhJurisd }}</td>#}
{#                <td>{{ vtmclh.vtmclhCodzon }}</td>#}
{#                <td>{{ vtmclh.vtmclhActivd }}</td>#}
{#                <td>{{ vtmclh.vtmclhCatego }}</td>#}
                <td>{{ vtmclh.vtmclhCndpag }}</td>
                <td>{{ vtmclh.vtmclhCndpre }}</td>
                <td>{{ vtmclh.vtmclhCodcrd }}</td>
                <td>{{ vtmclh.vtmclhGrubon }}</td>
                <td>{{ vtmclh.vtmclhCamion }}</td>
                <td>{{ vtmclh.vtmclhCamalt }}</td>
                <td>{{ vtmclh.vtmclhTracod }}</td>
                <td>{{ vtmclh.vtmclhDirep1 }}</td>
                <td>{{ vtmclh.vtmclhDirep2 }}</td>
                <td>{{ vtmclh.vtmclhDirep3 }}</td>
                <td>{{ vtmclh.vtmclhDirep4 }}</td>
                <td>{{ vtmclh.vtmclhDirep5 }}</td>
                <td>{{ vtmclh.vtmclhHorrec }}</td>
                <td>{{ vtmclh.vtmclhDirent }}</td>
                <td>{{ vtmclh.vtmclhPaient }}</td>
                <td>{{ vtmclh.vtmclhCodent }}</td>
                <td>{{ vtmclh.vtmclhJurent }}</td>
                <td>{{ vtmclh.vtmclhZonent }}</td>
                <td>{{ vtmclh.vtmclhCopivt }}</td>
                <td>{{ vtmclh.vtmclhCopifc }}</td>
                <td>{{ vtmclh.vtmclhCopist }}</td>
                <td>{{ vtmclh.vtmclhTextos }}</td>
                <td>{{ vtmclh.vtmclhTipdo1 }}</td>
                <td>{{ vtmclh.vtmclhNrodo1 }}</td>
                <td>{{ vtmclh.vtmclhTipdo2 }}</td>
                <td>{{ vtmclh.vtmclhNrodo2 }}</td>
                <td>{{ vtmclh.vtmclhTipdo3 }}</td>
                <td>{{ vtmclh.vtmclhNrodo3 }}</td>
                <td>{{ vtmclh.vtmclhTipdo4 }}</td>
                <td>{{ vtmclh.vtmclhNrodo4 }}</td>
                <td>{{ vtmclh.vtmclhTipdo5 }}</td>
                <td>{{ vtmclh.vtmclhNrodo5 }}</td>
                <td>{{ vtmclh.vtmclhDireml }}</td>
                <td>{{ vtmclh.vtmclhSegpro }}</td>
                <td>{{ vtmclh.vtmclhContad }}</td>
                <td>{{ vtmclh.vtmclhEdisub }}</td>
                <td>{{ vtmclh.vtmclhCuenta }}</td>
                <td>{{ vtmclh.vtmclhMaxitm }}</td>
                <td>{{ vtmclh.vtmclhDifdia }}</td>
{#                <td>{{ vtmclh.vtmclhDifdes ? vtmclh.vtmclhDifdes|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ vtmclh.vtmclhDifhas ? vtmclh.vtmclhDifhas|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ vtmclh.vtmclhPerina }}</td>
                <td>{{ vtmclh.vtmclhImpdif }}</td>
                <td>{{ vtmclh.vtmclhEmail }}</td>
                <td>{{ vtmclh.vtmclhCndint }}</td>
                <td>{{ vtmclh.vtmclhDistri }}</td>
                <td>{{ vtmclh.vtmclhDeposi }}</td>
                <td>{{ vtmclh.vtmclhSector }}</td>
                <td>{{ vtmclh.vtmclhNrodis }}</td>
                <td>{{ vtmclh.vtmclhOleole }}</td>
                <td>{{ vtmclh.vtmclhBmpbmp }}</td>
                <td>{{ vtmclh.vtmclhInhibe }}</td>
                <td>{{ vtmclh.vtmclhPrmxpr }}</td>
                <td>{{ vtmclh.vtmclhPrmipr }}</td>
                <td>{{ vtmclh.vtmclhTrafcr }}</td>
                <td>{{ vtmclh.vtmclhCodcof }}</td>
                <td>{{ vtmclh.vtmclhModcpt }}</td>
                <td>{{ vtmclh.vtmclhTipcpt }}</td>
                <td>{{ vtmclh.vtmclhCodcpt }}</td>
                <td>{{ vtmclh.vtmclhLiscli }}</td>
                <td>{{ vtmclh.vtmclhTipopr }}</td>
                <td>{{ vtmclh.vtmclhCodopr }}</td>
                <td>{{ vtmclh.vtmclhModpag }}</td>
                <td>{{ vtmclh.vtmclhTippag }}</td>
                <td>{{ vtmclh.vtmclhMedpag }}</td>
                <td>{{ vtmclh.vtmclhLanexp }}</td>
                <td>{{ vtmclh.vtmclhGenxml }}</td>
                <td>{{ vtmclh.vtmclhGlndes }}</td>
                <td>{{ vtmclh.vtmclhCodexp }}</td>
                <td>{{ vtmclh.vtmclhOblcon }}</td>
                <td>{{ vtmclh.vtmclhDeptra }}</td>
                <td>{{ vtmclh.vtmclhSectra }}</td>
                <td>{{ vtmclh.vtmclhFisjur }}</td>
                <td>{{ vtmclh.vtmclhApell1 }}</td>
                <td>{{ vtmclh.vtmclhApell2 }}</td>
                <td>{{ vtmclh.vtmclhNomb01 }}</td>
                <td>{{ vtmclh.vtmclhNomb02 }}</td>
                <td>{{ vtmclh.usrVtmclhLocpro }}</td>
                <td>{{ vtmclh.usrVtmclhCodare }}</td>
                <td>{{ vtmclh.usrVtmclhTienda }}</td>
{#                <td>{{ vtmclh.usrVtmclhDepo }}</td>#}
{#                <td>{{ vtmclh.usrVtmclhGrptan }}</td>#}
{#                <td>{{ vtmclh.usrVtmclhRefcli }}</td>#}
{#                <td>{{ vtmclh.usrVtmclhCodemp }}</td>#}
{#                <td>{{ vtmclh.usrVtmclhRefloc }}</td>#}
{#                <td>{{ vtmclh.usrVtmclhEstcom }}</td>#}
{#                <td>{{ vtmclh.vtmclhFecalt ? vtmclh.vtmclhFecalt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ vtmclh.vtmclhFecmod ? vtmclh.vtmclhFecmod|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ vtmclh.vtmclhUserid }}</td>#}
{#                <td>{{ vtmclh.vtmclhUltopr }}</td>#}
{#                <td>{{ vtmclh.vtmclhDebaja }}</td>#}
{#                <td>{{ vtmclh.vtmclhHormov }}</td>#}
{#                <td>{{ vtmclh.vtmclhModule }}</td>#}
{#                <td>{{ vtmclh.vtmclhOalias }}</td>#}
{#                <td>{{ vtmclh.vtmclhTstamp ? vtmclh.vtmclhTstamp|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ vtmclh.vtmclhLottra }}</td>#}
{#                <td>{{ vtmclh.vtmclhLotrec }}</td>#}
{#                <td>{{ vtmclh.vtmclhLotori }}</td>#}
{#                <td>{{ vtmclh.vtmclhSysver }}</td>#}
{#                <td>{{ vtmclh.vtmclhCmpver }}</td>#}
                <td>
                    <ul>
                        <li style="display: inline-flex" >
                            <button type="button" class="btn btn-outline-dark btn-show"
                                    data-toggle="modal" data-target="#showDetail"
                                    data-source="{{ path('app_vtmclh_show', {'vtmclhNrocta': vtmclh.vtmclhNrocta}) }}">
                                <i class="fa fa-eye"></i>
                            </button>
                        </li>
                        <li style="display: inline-flex" >
                            <a class="btn btn-outline-dark" href="{{ path('app_vtmclh_edit', {'vtmclhNrocta': vtmclh.vtmclhNrocta}) }}">
                                <i class="fa fa-edit"></i> </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="136">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <hr/>
    <div class="navigation">
        {{ knp_pagination_render(vtmclhs) }}
    </div>
    <div class="modal" id="showDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
