<h5 class="card-header bg-secondary text-light" ><i class="fa fa-eye"></i>
    Ver Vtmclh </h5>
<hr/>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>VtmclhNrocta</th>
                <td>{{ vtmclh.vtmclhNrocta }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr01</th>
                <td>{{ vtmclh.vtmclhRubr01 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr03</th>
                <td>{{ vtmclh.vtmclhRubr03 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr04</th>
                <td>{{ vtmclh.vtmclhRubr04 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr05</th>
                <td>{{ vtmclh.vtmclhRubr05 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr06</th>
                <td>{{ vtmclh.vtmclhRubr06 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr07</th>
                <td>{{ vtmclh.vtmclhRubr07 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr08</th>
                <td>{{ vtmclh.vtmclhRubr08 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr09</th>
                <td>{{ vtmclh.vtmclhRubr09 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr10</th>
                <td>{{ vtmclh.vtmclhRubr10 }}</td>
            </tr>
            <tr>
                <th>VtmclhRubr02</th>
                <td>{{ vtmclh.vtmclhRubr02 }}</td>
            </tr>
            <tr>
                <th>VtmclhNombre</th>
                <td>{{ vtmclh.vtmclhNombre }}</td>
            </tr>
            <tr>
                <th>VtmclhNrosub</th>
                <td>{{ vtmclh.vtmclhNrosub }}</td>
            </tr>
            <tr>
                <th>VtmclhRespon</th>
                <td>{{ vtmclh.vtmclhRespon }}</td>
            </tr>
            <tr>
                <th>VtmclhDirecc</th>
                <td>{{ vtmclh.vtmclhDirecc }}</td>
            </tr>
            <tr>
                <th>VtmclhNumero</th>
                <td>{{ vtmclh.vtmclhNumero }}</td>
            </tr>
            <tr>
                <th>VtmclhDppiso</th>
                <td>{{ vtmclh.vtmclhDppiso }}</td>
            </tr>
            <tr>
                <th>VtmclhDeptos</th>
                <td>{{ vtmclh.vtmclhDeptos }}</td>
            </tr>
            <tr>
                <th>VtmclhCodfil</th>
                <td>{{ vtmclh.vtmclhCodfil }}</td>
            </tr>
            <tr>
                <th>VtmclhCodpai</th>
                <td>{{ vtmclh.vtmclhCodpai }}</td>
            </tr>
            <tr>
                <th>VtmclhCodpos</th>
                <td>{{ vtmclh.vtmclhCodpos }}</td>
            </tr>
            <tr>
                <th>VtmclhMunicp</th>
                <td>{{ vtmclh.vtmclhMunicp }}</td>
            </tr>
            <tr>
                <th>VtmclhFletes</th>
                <td>{{ vtmclh.vtmclhFletes }}</td>
            </tr>
            <tr>
                <th>VtmclhTelefn</th>
                <td>{{ vtmclh.vtmclhTelefn }}</td>
            </tr>
            <tr>
                <th>VtmclhNrofax</th>
                <td>{{ vtmclh.vtmclhNrofax }}</td>
            </tr>
            <tr>
                <th>VtmclhNtelex</th>
                <td>{{ vtmclh.vtmclhNtelex }}</td>
            </tr>
            <tr>
                <th>VtmclhCndiva</th>
                <td>{{ vtmclh.vtmclhCndiva }}</td>
            </tr>
            <tr>
                <th>VtmclhTipdoc</th>
                <td>{{ vtmclh.vtmclhTipdoc }}</td>
            </tr>
            <tr>
                <th>VtmclhNrodoc</th>
                <td>{{ vtmclh.vtmclhNrodoc }}</td>
            </tr>
            <tr>
                <th>VtmclhVnddor</th>
                <td>{{ vtmclh.vtmclhVnddor }}</td>
            </tr>
            <tr>
                <th>VtmclhCobrad</th>
                <td>{{ vtmclh.vtmclhCobrad }}</td>
            </tr>
            <tr>
                <th>VtmclhJurisd</th>
                <td>{{ vtmclh.vtmclhJurisd }}</td>
            </tr>
            <tr>
                <th>VtmclhCodzon</th>
                <td>{{ vtmclh.vtmclhCodzon }}</td>
            </tr>
            <tr>
                <th>VtmclhActivd</th>
                <td>{{ vtmclh.vtmclhActivd }}</td>
            </tr>
            <tr>
                <th>VtmclhCatego</th>
                <td>{{ vtmclh.vtmclhCatego }}</td>
            </tr>
            <tr>
                <th>VtmclhCndpag</th>
                <td>{{ vtmclh.vtmclhCndpag }}</td>
            </tr>
            <tr>
                <th>VtmclhCndpre</th>
                <td>{{ vtmclh.vtmclhCndpre }}</td>
            </tr>
            <tr>
                <th>VtmclhCodcrd</th>
                <td>{{ vtmclh.vtmclhCodcrd }}</td>
            </tr>
            <tr>
                <th>VtmclhGrubon</th>
                <td>{{ vtmclh.vtmclhGrubon }}</td>
            </tr>
            <tr>
                <th>VtmclhCamion</th>
                <td>{{ vtmclh.vtmclhCamion }}</td>
            </tr>
            <tr>
                <th>VtmclhCamalt</th>
                <td>{{ vtmclh.vtmclhCamalt }}</td>
            </tr>
            <tr>
                <th>VtmclhTracod</th>
                <td>{{ vtmclh.vtmclhTracod }}</td>
            </tr>
            <tr>
                <th>VtmclhDirep1</th>
                <td>{{ vtmclh.vtmclhDirep1 }}</td>
            </tr>
            <tr>
                <th>VtmclhDirep2</th>
                <td>{{ vtmclh.vtmclhDirep2 }}</td>
            </tr>
            <tr>
                <th>VtmclhDirep3</th>
                <td>{{ vtmclh.vtmclhDirep3 }}</td>
            </tr>
            <tr>
                <th>VtmclhDirep4</th>
                <td>{{ vtmclh.vtmclhDirep4 }}</td>
            </tr>
            <tr>
                <th>VtmclhDirep5</th>
                <td>{{ vtmclh.vtmclhDirep5 }}</td>
            </tr>
            <tr>
                <th>VtmclhHorrec</th>
                <td>{{ vtmclh.vtmclhHorrec }}</td>
            </tr>
            <tr>
                <th>VtmclhDirent</th>
                <td>{{ vtmclh.vtmclhDirent }}</td>
            </tr>
            <tr>
                <th>VtmclhPaient</th>
                <td>{{ vtmclh.vtmclhPaient }}</td>
            </tr>
            <tr>
                <th>VtmclhCodent</th>
                <td>{{ vtmclh.vtmclhCodent }}</td>
            </tr>
            <tr>
                <th>VtmclhJurent</th>
                <td>{{ vtmclh.vtmclhJurent }}</td>
            </tr>
            <tr>
                <th>VtmclhZonent</th>
                <td>{{ vtmclh.vtmclhZonent }}</td>
            </tr>
            <tr>
                <th>VtmclhCopivt</th>
                <td>{{ vtmclh.vtmclhCopivt }}</td>
            </tr>
            <tr>
                <th>VtmclhCopifc</th>
                <td>{{ vtmclh.vtmclhCopifc }}</td>
            </tr>
            <tr>
                <th>VtmclhCopist</th>
                <td>{{ vtmclh.vtmclhCopist }}</td>
            </tr>
            <tr>
                <th>VtmclhTextos</th>
                <td>{{ vtmclh.vtmclhTextos }}</td>
            </tr>
            <tr>
                <th>VtmclhTipdo1</th>
                <td>{{ vtmclh.vtmclhTipdo1 }}</td>
            </tr>
            <tr>
                <th>VtmclhNrodo1</th>
                <td>{{ vtmclh.vtmclhNrodo1 }}</td>
            </tr>
            <tr>
                <th>VtmclhTipdo2</th>
                <td>{{ vtmclh.vtmclhTipdo2 }}</td>
            </tr>
            <tr>
                <th>VtmclhNrodo2</th>
                <td>{{ vtmclh.vtmclhNrodo2 }}</td>
            </tr>
            <tr>
                <th>VtmclhTipdo3</th>
                <td>{{ vtmclh.vtmclhTipdo3 }}</td>
            </tr>
            <tr>
                <th>VtmclhNrodo3</th>
                <td>{{ vtmclh.vtmclhNrodo3 }}</td>
            </tr>
            <tr>
                <th>VtmclhTipdo4</th>
                <td>{{ vtmclh.vtmclhTipdo4 }}</td>
            </tr>
            <tr>
                <th>VtmclhNrodo4</th>
                <td>{{ vtmclh.vtmclhNrodo4 }}</td>
            </tr>
            <tr>
                <th>VtmclhTipdo5</th>
                <td>{{ vtmclh.vtmclhTipdo5 }}</td>
            </tr>
            <tr>
                <th>VtmclhNrodo5</th>
                <td>{{ vtmclh.vtmclhNrodo5 }}</td>
            </tr>
            <tr>
                <th>VtmclhDireml</th>
                <td>{{ vtmclh.vtmclhDireml }}</td>
            </tr>
            <tr>
                <th>VtmclhSegpro</th>
                <td>{{ vtmclh.vtmclhSegpro }}</td>
            </tr>
            <tr>
                <th>VtmclhContad</th>
                <td>{{ vtmclh.vtmclhContad }}</td>
            </tr>
            <tr>
                <th>VtmclhEdisub</th>
                <td>{{ vtmclh.vtmclhEdisub }}</td>
            </tr>
            <tr>
                <th>VtmclhCuenta</th>
                <td>{{ vtmclh.vtmclhCuenta }}</td>
            </tr>
            <tr>
                <th>VtmclhMaxitm</th>
                <td>{{ vtmclh.vtmclhMaxitm }}</td>
            </tr>
            <tr>
                <th>VtmclhDifdia</th>
                <td>{{ vtmclh.vtmclhDifdia }}</td>
            </tr>
{#            <tr>#}
{#                <th>VtmclhDifdes</th>#}
{#                <td>{{ vtmclh.vtmclhDifdes ? vtmclh.vtmclhDifdes|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>VtmclhDifhas</th>#}
{#                <td>{{ vtmclh.vtmclhDifhas ? vtmclh.vtmclhDifhas|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
            <tr>
                <th>VtmclhPerina</th>
                <td>{{ vtmclh.vtmclhPerina }}</td>
            </tr>
            <tr>
                <th>VtmclhImpdif</th>
                <td>{{ vtmclh.vtmclhImpdif }}</td>
            </tr>
            <tr>
                <th>VtmclhEmail</th>
                <td>{{ vtmclh.vtmclhEmail }}</td>
            </tr>
            <tr>
                <th>VtmclhCndint</th>
                <td>{{ vtmclh.vtmclhCndint }}</td>
            </tr>
            <tr>
                <th>VtmclhDistri</th>
                <td>{{ vtmclh.vtmclhDistri }}</td>
            </tr>
            <tr>
                <th>VtmclhDeposi</th>
                <td>{{ vtmclh.vtmclhDeposi }}</td>
            </tr>
            <tr>
                <th>VtmclhSector</th>
                <td>{{ vtmclh.vtmclhSector }}</td>
            </tr>
            <tr>
                <th>VtmclhNrodis</th>
                <td>{{ vtmclh.vtmclhNrodis }}</td>
            </tr>
            <tr>
                <th>VtmclhOleole</th>
                <td>{{ vtmclh.vtmclhOleole }}</td>
            </tr>
            <tr>
                <th>VtmclhBmpbmp</th>
                <td>{{ vtmclh.vtmclhBmpbmp }}</td>
            </tr>
            <tr>
                <th>VtmclhInhibe</th>
                <td>{{ vtmclh.vtmclhInhibe }}</td>
            </tr>
            <tr>
                <th>VtmclhPrmxpr</th>
                <td>{{ vtmclh.vtmclhPrmxpr }}</td>
            </tr>
            <tr>
                <th>VtmclhPrmipr</th>
                <td>{{ vtmclh.vtmclhPrmipr }}</td>
            </tr>
            <tr>
                <th>VtmclhTrafcr</th>
                <td>{{ vtmclh.vtmclhTrafcr }}</td>
            </tr>
            <tr>
                <th>VtmclhCodcof</th>
                <td>{{ vtmclh.vtmclhCodcof }}</td>
            </tr>
            <tr>
                <th>VtmclhModcpt</th>
                <td>{{ vtmclh.vtmclhModcpt }}</td>
            </tr>
            <tr>
                <th>VtmclhTipcpt</th>
                <td>{{ vtmclh.vtmclhTipcpt }}</td>
            </tr>
            <tr>
                <th>VtmclhCodcpt</th>
                <td>{{ vtmclh.vtmclhCodcpt }}</td>
            </tr>
            <tr>
                <th>VtmclhLiscli</th>
                <td>{{ vtmclh.vtmclhLiscli }}</td>
            </tr>
            <tr>
                <th>VtmclhTipopr</th>
                <td>{{ vtmclh.vtmclhTipopr }}</td>
            </tr>
            <tr>
                <th>VtmclhCodopr</th>
                <td>{{ vtmclh.vtmclhCodopr }}</td>
            </tr>
            <tr>
                <th>VtmclhModpag</th>
                <td>{{ vtmclh.vtmclhModpag }}</td>
            </tr>
            <tr>
                <th>VtmclhTippag</th>
                <td>{{ vtmclh.vtmclhTippag }}</td>
            </tr>
            <tr>
                <th>VtmclhMedpag</th>
                <td>{{ vtmclh.vtmclhMedpag }}</td>
            </tr>
            <tr>
                <th>VtmclhLanexp</th>
                <td>{{ vtmclh.vtmclhLanexp }}</td>
            </tr>
            <tr>
                <th>VtmclhGenxml</th>
                <td>{{ vtmclh.vtmclhGenxml }}</td>
            </tr>
            <tr>
                <th>VtmclhGlndes</th>
                <td>{{ vtmclh.vtmclhGlndes }}</td>
            </tr>
            <tr>
                <th>VtmclhCodexp</th>
                <td>{{ vtmclh.vtmclhCodexp }}</td>
            </tr>
            <tr>
                <th>VtmclhOblcon</th>
                <td>{{ vtmclh.vtmclhOblcon }}</td>
            </tr>
            <tr>
                <th>VtmclhDeptra</th>
                <td>{{ vtmclh.vtmclhDeptra }}</td>
            </tr>
            <tr>
                <th>VtmclhSectra</th>
                <td>{{ vtmclh.vtmclhSectra }}</td>
            </tr>
            <tr>
                <th>VtmclhFisjur</th>
                <td>{{ vtmclh.vtmclhFisjur }}</td>
            </tr>
            <tr>
                <th>VtmclhApell1</th>
                <td>{{ vtmclh.vtmclhApell1 }}</td>
            </tr>
            <tr>
                <th>VtmclhApell2</th>
                <td>{{ vtmclh.vtmclhApell2 }}</td>
            </tr>
            <tr>
                <th>VtmclhNomb01</th>
                <td>{{ vtmclh.vtmclhNomb01 }}</td>
            </tr>
            <tr>
                <th>VtmclhNomb02</th>
                <td>{{ vtmclh.vtmclhNomb02 }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhLocpro</th>
                <td>{{ vtmclh.usrVtmclhLocpro }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhCodare</th>
                <td>{{ vtmclh.usrVtmclhCodare }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhTienda</th>
                <td>{{ vtmclh.usrVtmclhTienda }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhDepo</th>
                <td>{{ vtmclh.usrVtmclhDepo }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhGrptan</th>
                <td>{{ vtmclh.usrVtmclhGrptan }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhRefcli</th>
                <td>{{ vtmclh.usrVtmclhRefcli }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhCodemp</th>
                <td>{{ vtmclh.usrVtmclhCodemp }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhRefloc</th>
                <td>{{ vtmclh.usrVtmclhRefloc }}</td>
            </tr>
            <tr>
                <th>UsrVtmclhEstcom</th>
                <td>{{ vtmclh.usrVtmclhEstcom }}</td>
            </tr>
{#            <tr>#}
{#                <th>VtmclhFecalt</th>#}
{#                <td>{{ vtmclh.vtmclhFecalt ? vtmclh.vtmclhFecalt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>VtmclhFecmod</th>#}
{#                <td>{{ vtmclh.vtmclhFecmod ? vtmclh.vtmclhFecmod|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
            <tr>
                <th>VtmclhUserid</th>
                <td>{{ vtmclh.vtmclhUserid }}</td>
            </tr>
            <tr>
                <th>VtmclhUltopr</th>
                <td>{{ vtmclh.vtmclhUltopr }}</td>
            </tr>
            <tr>
                <th>VtmclhDebaja</th>
                <td>{{ vtmclh.vtmclhDebaja }}</td>
            </tr>
            <tr>
                <th>VtmclhHormov</th>
                <td>{{ vtmclh.vtmclhHormov }}</td>
            </tr>
            <tr>
                <th>VtmclhModule</th>
                <td>{{ vtmclh.vtmclhModule }}</td>
            </tr>
            <tr>
                <th>VtmclhOalias</th>
                <td>{{ vtmclh.vtmclhOalias }}</td>
            </tr>
{#            <tr>#}
{#                <th>VtmclhTstamp</th>#}
{#                <td>{{ vtmclh.vtmclhTstamp ? vtmclh.vtmclhTstamp|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
            <tr>
                <th>VtmclhLottra</th>
                <td>{{ vtmclh.vtmclhLottra }}</td>
            </tr>
            <tr>
                <th>VtmclhLotrec</th>
                <td>{{ vtmclh.vtmclhLotrec }}</td>
            </tr>
            <tr>
                <th>VtmclhLotori</th>
                <td>{{ vtmclh.vtmclhLotori }}</td>
            </tr>
            <tr>
                <th>VtmclhSysver</th>
                <td>{{ vtmclh.vtmclhSysver }}</td>
            </tr>
            <tr>
                <th>VtmclhCmpver</th>
                <td>{{ vtmclh.vtmclhCmpver }}</td>
            </tr>
        </tbody>
    </table>
<hr/>
<ul>
    <li style="display: inline-flex">
        <a href="{{ path('app_vtmclh_index') }}" class="btn btn-outline-info btn-back" data-toggle="tooltip" data-placement="top"
           title="Volver"
        ><i class="fa fa-arrow-left"></i></a>
    </li>
    <li style="display: inline-flex">
        <a href="{{ path('app_vtmclh_edit', {'vtmclhNrocta': vtmclh.vtmclhNrocta}) }}" class="btn btn-outline-info btn-back" data-toggle="tooltip" data-placement="top"
           title="Editar"
        ><i class="fa fa-edit"></i></a>
    </li>
    <li style="display: inline-flex">
        {{ include('vtmclh/_delete_form.html.twig') }}
    </li>
</ul>
