{% extends 'base.html.twig' %}

{% block title %}ContactClient index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h5 class="card-header bg-secondary text-light" ><i class="fa fa-list"></i>ContactClient index </h5>
<hr/>
{{ include('contact_client/_formFilter.html.twig') }}
<hr/>
    <a class="btn btn-outline-dark" href="{{ path('app_contact_client_new') }}"><i class="fa fa-plus"></i> </a>
<hr/>
<div class="navigation">
    {{ knp_pagination_render(contact_clients) }}
</div>
<hr/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_client in contact_clients %}
            <tr>
                <td>{{ contact_client.id }}</td>
                <td>{{ contact_client.value }}</td>
                <td>
                    <ul>
                        <li style="display: inline-flex" >
                            <button type="button" class="btn btn-outline-dark btn-show"
                                    data-toggle="modal" data-target="#showDetail"
                                    data-source="{{ path('app_contact_client_show', {'id': contact_client.id}) }}">
                                <i class="fa fa-eye"></i>
                            </button>
                        </li>
                        <li style="display: inline-flex" >
                            <a class="btn btn-outline-dark" href="{{ path('app_contact_client_edit', {'id': contact_client.id}) }}">
                                <i class="fa fa-edit"></i> </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <div class="navigation">
        {{ knp_pagination_render(contact_clients) }}
    </div>
    <div class="modal" id="showDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
