{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h5 class="card-header bg-secondary text-light" ><i class="fa fa-list"></i> Listado Clientes</h5>
    <script>


        // Example case
        document.body.innerHTML = `
<div class="image">
  <img src="https://www.vidoomy.com/dev_test_full_en/img/1_img.jpg" alt="First">
  <button class="remove" onclick="setup(0)">X</button>
</div>
<div class="image">
  <img src="https://www.vidoomy.com/dev_test_full_en/img/2_img.jpg" alt="Second">
  <button class="remove" onclick="setup(1)">X</button>
</div>`;
        function setup(value) {
            alert(document.getElementsByClassName("remove")[value])
            document.getElementsByClassName("remove")[value].remove();
            // console.log(document.getElementsByClassName("remove"));
            // console.log(document.getElementsByClassName("remove")[value]);
            // Write your code here.
        }
       // setup();

        document.getElementsByClassName("remove")[0].click();
        console.log(document.body.innerHTML);
    </script>



<hr/>
{{ include('client_tramasica/_formFilter.html.twig') }}
<hr/>
    <a class="btn btn-outline-dark" href="{{ path('app_client_tramasica_new') }}"><i class="fa fa-plus"></i> </a>
<hr/>
<div class="navigation">
    {{ knp_pagination_render(clients) }}
</div>
<hr/>
    <table class="table table-striped">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Domicilio</th>
                <th>Fecha Nac.</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
{#                <td>{{ client.id }}</td>#}
                <td>{{ client.client.name }}</td>
                <td>{{ client.client.lastName }}</td>
                <td>{{ client.client.address }}</td>
                <td>{{ client.client.dateCreation ? client.client.dateCreation|date('d/m/Y') : '' }}</td>
                <td>{{ client.client.enabled ? '<i class="fa fa-check text-success"></i>' : '<i class="fa fa-times text-danger"></i>' }}</td>
                <td>
                    <ul>
                        <li style="display: inline-flex" >
                            <button type="button" class="btn btn-outline-dark btn-show"
                                    data-toggle="modal" data-target="#showDetail"
                                    data-source="{{ path('app_client_tramasica_show', {'id': client.id}) }}">
                                <i class="fa fa-eye"></i>
                            </button>
                        </li>
                        <li style="display: inline-flex" >
                            <a class="btn btn-outline-dark" href="{{ path('app_client_tramasica_edit', {'id': client.id}) }}">
                                <i class="fa fa-edit"></i> </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <div class="navigation">
        {{ knp_pagination_render(clients) }}
    </div>
    <div class="modal" id="showDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
