<ul class="navbar-nav ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menuClientes" role="button"
           data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i> Clientes
        </a>
        <div class="dropdown-menu " aria-labelledby="menuClientes">
            <a class="dropdown-item" href="{{ path('app_client_tramasica_index') }}">Clientes</a>
            <a class="dropdown-item" href="{{ path('app_contact_type_index') }}">Tipos Contacto</a>
            <a class="dropdown-item" href="{{ path('app_identification_type_index') }}">Tipos de Identificación</a>

        </div>
    </li>
</ul>
<ul class="navbar-nav ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ path('app_producto_index')  }}" id="menuProductos" role="button"
           data-toggle="dropdown" aria-expanded="false"><i class="fa fa-gifts"></i> Productos</a>
        <div class="dropdown-menu " aria-labelledby="menuProductos">
            <a class="dropdown-item" href="{{ path('app_producto_index') }}">Productos</a>
            <a class="dropdown-item" href="{{ path('app_categoria_index') }}">Categoría</a>
            <a class="dropdown-item" href="{{ path('app_marca_index') }}">Marcas</a>
            <a class="dropdown-item" href="{{ path('app_unidad_medida_index') }}">Unidad de Medida</a>
        </div>
    </li>
</ul>
<ul class="navbar-nav ">
    <li class="nav-item ">
        <a class="nav-link " href="{{ path('app_qr_new') }}" id="qr" role="button"
           aria-expanded="false"><i class="fa fa-qrcode"></i> QR</a>
    </li>
</ul>