<h5 class="card-header bg-secondary text-light" ><i class="fa fa-eye"></i>
    Ver Distribucionpedidosclientes </h5>
<hr/>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ distribucionpedidoscliente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ distribucionpedidoscliente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ distribucionpedidoscliente.apellido }}</td>
            </tr>
            <tr>
                <th>Direccion1</th>
                <td>{{ distribucionpedidoscliente.direccion1 }}</td>
            </tr>
            <tr>
                <th>Direccion2</th>
                <td>{{ distribucionpedidoscliente.direccion2 }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ distribucionpedidoscliente.ciudad }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ distribucionpedidoscliente.region }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ distribucionpedidoscliente.cp }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ distribucionpedidoscliente.telefono }}</td>
            </tr>
            <tr>
                <th>Nrocuenta</th>
                <td>{{ distribucionpedidoscliente.nrocuenta }}</td>
            </tr>
            <tr>
                <th>Tipocuenta</th>
                <td>{{ distribucionpedidoscliente.tipocuenta }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ distribucionpedidoscliente.razonsocial }}</td>
            </tr>
            <tr>
                <th>Nrodocumento</th>
                <td>{{ distribucionpedidoscliente.nrodocumento }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ distribucionpedidoscliente.email }}</td>
            </tr>
        </tbody>
    </table>
<hr/>
<ul>
    <li style="display: inline-flex">
        <a href="{{ path('app_distribucionpedidosclientes_index') }}" class="btn btn-outline-info btn-back" data-toggle="tooltip" data-placement="top"
           title="Volver"
        ><i class="fa fa-arrow-left"></i></a>
    </li>
    <li style="display: inline-flex">
        <a href="{{ path('app_distribucionpedidosclientes_edit', {'id': distribucionpedidoscliente.id}) }}" class="btn btn-outline-info btn-back" data-toggle="tooltip" data-placement="top"
           title="Editar"
        ><i class="fa fa-edit"></i></a>
    </li>
    <li style="display: inline-flex">
        {{ include('distribucionpedidosclientes/_delete_form.html.twig') }}
    </li>
</ul>
